# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
venv/
.env

# ML Outputs
backend/mlops/fine_tuned_model/
backend/mlops/results/
backend/results/
backend/fine_tuned_model/

# OS
.DS_Store
Thumbs.db
